/* CSs animation speed */
.mine-form__comment, .mine-form__input {
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  cursor: pointer;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/* !------------------CONTAINER------------------ */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.logo {
  display: inline-block;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #fff;
}

.footer-social__icon {
  fill: #fff;
}

.btn {
  display: inline-block;
  padding: 9px 31px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.5);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon {
  fill: var(--black-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:hover .modal__icon {
  fill: #2196f3;
}

.mine-form_title {
  display: block;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mine-form__label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.input-wrap {
  display: flex;
  position: relative;
}

.mine-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}
.mine-form__input:hover, .mine-form__input:focus {
  border: 1px solid #2196f3;
}
.mine-form__input:not(:focus):not(:-moz-placeholder-shown):invalid {
  border-color: rgb(229, 119, 119);
}
.mine-form__input:not(:focus):not(:-ms-input-placeholder):invalid {
  border-color: rgb(229, 119, 119);
}
.mine-form__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: rgb(229, 119, 119);
}

.mine-form__icon {
  position: absolute;
  bottom: 50%;
  left: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mine-form__input:focus + .mine-form__icon, .form-terms:hover .mine-form__icon {
  fill: #2196f3;
}
.mine-form__input:not(:focus):not(:-moz-placeholder-shown):invalid + .mine-form__icon {
  fill: rgb(229, 119, 119);
}
.mine-form__input:not(:focus):not(:-ms-input-placeholder):invalid + .mine-form__icon {
  fill: rgb(229, 119, 119);
}
.mine-form__input:not(:focus):not(:placeholder-shown):invalid + .mine-form__icon {
  fill: rgb(229, 119, 119);
}

.form-terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.mine-form__comment {
  padding: 12px 16px;
  outline: none;
  margin-bottom: 10px;
  resize: none;
}
.mine-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.mine-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.mine-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.mine-form__comment:hover, .mine-form__comment:focus {
  border: 1px solid #2196f3;
}

.form-terms__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1.7;
  cursor: pointer;
}

.form-terms__icon {
  border: 2px solid #212121;
  fill: transparent;
  border-radius: 4px;
}
.form-terms__check:checked + .form-terms__label .form-terms__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form-terms__check:focus + .form-terms__label .form-terms__icon {
  border-color: #2196f3;
}

.form-terms__link {
  text-decoration: underline;
  color: #2196f3;
}

.mine-form__button {
  display: block;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mine-form__button:hover, .mine-form__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-header {
  max-width: 1600px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #ececec;
  border-top: none;
}

.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo--position {
  margin-left: 0;
}

.logo-header__text {
  color: #000000;
}

.site-nav {
  display: inline-flex;
  margin-left: 93px;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  padding: 21px 0;
}

.contacts-list__link {
  display: flex;
  gap: 10px;
  font-weight: 500;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list_icon {
  fill: currentColor;
}

.page-hero {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  padding: 118px 0px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-768.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpeg);
    padding: 200px 0px;
  }
}

.page-hero__title {
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .page-hero__title {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero.jpeg);
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.page-feature {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-list_item {
  flex-basis: 100%;
}

.feature-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}

.feature-list__text {
  line-height: 1.7;
}

.page-process {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 0;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-process {
    display: none;
  }
}

.process-list {
  display: flex;
  gap: 30px;
}

.process-wrap {
  position: relative;
  overflow: hidden;
}

.process-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */