.btn {
  display: inline-block;
  padding: 10px 24px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: $white-text-color;
  background-color: $brand-color;
  border: none;
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    padding-left: 34px;
    padding-right: 34px;
  }
}
