body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $primary-text-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}
