body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
