$primary-text-color: #757575;
$secondary-text-color: #212121;
$brand-color: #2196f3;
$black-text-color: #000000;
$white-text-color: #fff;

$white-bg-color: #fff;
$white-icon-color: #fff;
$section-bg-color: #f5f4fa;
$button-bg-color: #f5f4fa;
$feature-bg-icon-color: #f5f4fa;
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$social-icon-color: #afb1b8;

/* CSs animation speed */
$transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$portfolio-card-transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$flex-gap: 30px;

$grad-img: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
