.page-feature {
  background-color: $white-bg-color;
  @include sectionSet($text-aln: left);

  @include desktop {
    @include sectionSet($p-top: 94px, $p-bot: 94px);
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: $flex-gap;
}

.feature-list__item {
  width: 100%;

  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    justify-content: center;
    flex-basis: calc((100% - $flex-gap) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - $flex-gap * 3) / 4);
  }
}

.feature-wrap {
  @include flex--center;
  height: 120px;
  margin-bottom: 30px;

  background-color: $feature-bg-icon-color;
}

.feature-list__title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  color: $secondary-text-color;
}

.feature-list__text {
  line-height: 1.7;
}
