.page-footer {
  @include sectionSet($p-top: 60px, $p-bot: 60px);
  background-color: $footer-bg-color;
}

.footer-content {
  @include push--auto;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 94px;
    align-items: baseline;
  }
}

.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    text-align: left;
    gap: 165px;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    gap: 70px;
    margin-bottom: 0;
  }
}

.footer-address {
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer_wrap__title {
  width: 100%;

  text-transform: uppercase;
  font-weight: 700;
  color: $white-text-color;
}

.footer-logo--margin {
  margin-bottom: 20px;
}
.logo-footer__text {
  color: $white-text-color;
}

.address-list {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;

  font-style: normal;
  line-height: 1.71;
}

.address-list__link {
  color: $primary-text-color;
}

.address-list__link--white {
  color: $white-text-color;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-form {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 570px;
    text-align: left;
    max-height: 86px;
  }
}

.form-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
    gap: 12px;
    padding: 0;
    margin: 0;
  }
}

.footer-form__input {
  width: 100%;

  height: 50px;
  padding-left: 16px;

  outline: none;

  color: $white-text-color;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.2;

    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: $brand-color;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border-color: rgb(229, 119, 119);
  }

  @media screen and (max-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 358px;
  }
}

.footer-form__button {
  @include flex--center($type: inline-flex);
  gap: 12px;
  padding: 10px 28px 10px 31px;
  border: none;
}

.form-button__icon {
  fill: $white-icon-color;
}
