.page-header {
  position: relative;
  max-width: 1600px;
  max-height: 80px;
  padding: 0;
  margin: 0;
  @include push--auto;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  background-color: $white-bg-color;
  border-bottom: 1px solid #ececec;
  display: flex;

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}

.page-header__nav {
  @include flex--center;
}
.header__logo--position {
  margin-left: 0;
}
.logo-header__text {
  color: $black-text-color;
}

.site-nav {
  display: none;
  margin-left: 83px;
  gap: 50px;

  @include tablet {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__link {
  display: block;
  @extend %navLinkPadding;

  font-weight: 500;
  line-height: 1.3333;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  transition: color $transit;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.site-nav__link--current {
  color: $brand-color;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: $brand-color;
    border-radius: 2px;
  }
}

.contacts-list {
  display: none;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-start;
  gap: 10px;

  padding-top: 21px;
  padding-bottom: 21px;

  @include tablet {
    display: flex;
  }

  @include desktop {
    flex-direction: row;
    gap: 40px;
  }
}

.contacts-list__link {
  @include flex--center;
  gap: 10px;

  font-weight: 500;

  color: $primary-text-color;
  transition: color $transit;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.contacts-list_icon {
  fill: currentColor;
}
