.page-hero {
  max-width: 1600px;
  margin: 0px auto;
  padding: 118px 0px;

  text-align: center;

  background-image: $grad-img, url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mobile {
    @include retina {
      background-image: $grad-img, url(../images/hero-mobile-2x.jpg);
    }
  }

  @include tablet {
    background-image: $grad-img, url(../images/hero-tablet.jpg);
    @include retina {
      background-image: $grad-img, url(../images/hero-tablet-2x.jpg);
    }
  }
  @include desktop {
    background-image: $grad-img, url(/images/hero-desk.jpg);
    padding: 200px 0px;
    @include retina {
      background-image: $grad-img, url(/images/hero-desk-2x.jpg);
    }
  }
}

.page-hero__title {
  display: block;
  width: 100%;
  @include push--auto;

  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-text-color;

  @include mobile {
    max-width: 360px;
  }
  @include tablet {
  }
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
}
