.page-team {
  @include sectionSet;
  background-color: $section-bg-color;

  @media screen and (min-width: 1200px) {
    @include sectionSet($p-top: 94px, $p-bot: 94px);
  }
}

.team-list {
  @include flex--center;
  flex-wrap: wrap;
  gap: $flex-gap;
}

.team-list__item {
  background-color: $white-bg-color;
  width: 100%;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - $flex-gap) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - $flex-gap * 3) / 4);

    box-shadow: none;
    transition: box-shadow var(--transit);
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.team-content {
  padding-top: 30px;
  padding-bottom: 24px;

  line-height: 1.9;
  font-size: 16px;
}

.team-list_title {
  margin-bottom: 10px;

  font-weight: 500;
  color: $secondary-text-color;
}

.team-list__text {
  margin-bottom: 16px;

  color: $primary-text-color;
}
